.header {
  background-color: black;
}
.logo img {
  width: 190px;
  height: 100%;
  margin-left: -2em;
}
.nav {
  margin-left: -18em;
  margin-top: 12px;
}
.nav ul {
  display: flex;
}
.nav ul li {
  padding: 15px 10px;
}
.nav ul li a {
  font-family: var(--futura);
  font-size: 2em;
  text-decoration: none;
  color: #fff;
}

.logeo ul {
  display: flex;
  margin-left: 1.5em;
  margin-top: 12px;
}

.lang {
  color: white;
  font-size: 2em;
  margin-top: 5 px;
}

.botonLogeo button {
  background-color: #b5f0e9;
  border: none;
  font-family: var(--futura);
  padding: 0.5em 1em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 2px;
  margin-left: 20px;
  margin-top: -2px;
  font-size: 1.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* ...; */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* ...; */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* ...; */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* ...; */
}
